<%- include('header_loged'); -%>
    <main>
        <h1>Solicitudes de amistad</h1>
        <div class="list_friends">
            <% requests.forEach(function(request) { %>
                <div class="friend_request">
                    <% if (request.image){ %>
                        <img src="/user/uploads/<%= request.image%>" alt="imagen de usuario" height="72px" width="72px">
                    <% }else{ %>
                        <img src="/images/profile_logo.png" alt="imagen de usuario" height="72px" width="72px">
                    <% } %>
                    <h3><%= request.fullname %></h3>
                    <div>
                        <a class="input_button" href="friends/accept/<%= request.fromUser %>">Aceptar</a>
                        <a class="input_button" href="friends/reject/<%= request.fromUser %>">Rechazar</a>
                    </div>
                </div>
            <% }); %>
        </div>

        <h1>Búsqueda de amigos</h1>
        <div class="search_friends">
            <form class="search_form" action="search" method="GET">
                <label>Buscar por nombre: </label>
                <input class="input_text input_text_search" name="text_search" type="text" placeholder="Introduce un nombre" required>
                <input class="input_button" type="submit" value="Buscar" />
            </form>
        </div>

        <h1>Mis amigos</h1>
        <div class="my_friends">
            <% friends.forEach(function(friend) { %>
                <div class="friend">
                    <% if (friend.image){ %>
                        <img src="/user/uploads/<%= friend.image%>" alt="imagen de usuario" height="72px" width="72px">
                    <% }else{ %>
                        <img src="/images/profile_logo.png" alt="imagen de usuario"  height="72px" width="72px">
                    <% } %>
                    <a class="a_friend" href="/user/profile/<%= friend.id_user %>"><%= friend.fullname %></a>
                </div>
            <% }); %>
        </div>
    </main>
<%- include('footer'); -%>