<%- include('header_loged'); -%>
    <main>
        <h1>Perfil</h1>
        <div class="user">
            <% if (user.image) {  console.log(user.image);%>
				<div id="user_image" class="user_info"><img src="/user/uploads/<%= user.image%>" alt="imagen de usuario" height="128px" width="128px"></div>
			<% }else{%>
				<div id="user_image" class="user_info"><img src="/images/profile_logo.png" alt="imagen de usuario" height="128px" width="128px"></div>
			<% }%>
            <div id="user_name" class="user_info"><%= user.fullname %></div>
            <div id="user_years" class="user_info"><%= age %> años</div>
            <div id="user_gender" class="user_info"><%= user.sex %></div>
            <div id="user_points" class="user_info"><%= user.points %> puntos</div>
            <div id="user_modify" class="user_info">
                <% if (allowed) { %>
                <form action="modify">
                    <input class="input_button" type="submit" value="Modificar perfil" />
                </form>
                <% }%>           
            </div>
		</div>
		
		<% if (allowed) { %>
		<h3>Subir imagen a galería</h3>
		<div class="gallery_form">
			<form action="/user/profile/image" method="POST" enctype="multipart/form-data">
				<table>
					<tr>
						<td>Descripcion imagen:</td>
						<td><input class="input_text" type='text' name='description' /></td>
					</tr>
					<tr>
						<td>Imagen:</td>
						<td> <input class="input_image" type='file' accept="image/png, image/jpeg" name="image" required/></td>
					</tr>
				</table>

				<input class="input_button" type="submit" value="Subir imagen" />
            </form>
		</div>
		<div class="gallery">
			<% images.forEach(function(image) { %>
				<img class="gallery_image" src="/user/uploads/<%= image.image %>" title="<%= image.description %>">
            <% });%>
		</div>
		<% }%>           
    </main>
<%- include('footer'); -%>