<%- include('header_loged'); -%>
    <main>
        <h1>Resultados de búsqueda: '<%= search %>'</h1>
        <div class="search_results">
            <% users.forEach(function(user, i) { %>
                <div class="search_friend">
                    <% if (user.image){ console.log(user.image);%>
                        <img src="/user/uploads/<%= user.image%>" alt="imagen de usuario" height="72px" width="72px">
                    <% }else{ %>
                        <img src="/images/profile_logo.png" alt="imagen de usuario" height="72px" width="72px">
                    <% } %>
                    <h3><%= user.fullname %></h3>
                    <% if (!user.esAmigo && !user.peticion) { %>
						<form action="request_friend" method="POST">
							<input type="hidden" name="ident" value="<%= user.id %>">
							<input type="hidden" name="query_string" value="<%= search %>">
                            <input class="input_button" type="submit" value="Solicitar amistad" />
                        </form>
                    <% }%>
                    <% if (user.peticion) { %>
                        <h3 class="peticion">Peticion enviada</h3>
                    <% }%>
                    <% if (user.esAmigo) { %>
                        <h3 class="amigos">Ya sois amig@s</h3>
                    <% }%>
                </div>
            <% }); %>
        </div>
    </main>
<%- include('footer'); -%>